@import url(./reset.css);
@font-face {
  font-family: 'Montserrat';
  src: url('../../public/fonts/Montserrat-VariableFont_wght.ttf');
}

body {
  font-family: 'Montserrat';
  background-color: #f8f8fa;
}

input {
  font-family: 'Montserrat';
}