$primary: #351768;
$secondary: rgba(205, 177, 251, 1);
$dark-purple: #211536;
$bg-main: #f8f8fa;
$bg-second: #faf7fe;
$border-radius: 4px;
$fs-xxl: 40px;
$fs-xl: 32px;
$fs-l: 18px;
$fs-m: 16px;
$fs-s: 14px;
$fs-xs: 10px;
